// FONTS

$light-font-weight: 400;
$middle-font-weight: 500;
$bold-font-weight: 700;

// COLORS
$primary-color-dark: hsl(300, 43%, 22%);
$secondary-color-pink: hsl(333, 80%, 67%);

$dark-Grayish-Magenta: hsl(303, 10%, 53%);
$light-Grayish-Magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);